

.font2 {
  font-family: "Love Ya Like A Sister", cursive;
}
.font3{
    font-family: "Dancing Script", cursive;
}
.bg{
  background: linear-gradient(
    90.44deg,
    #dd6800 0.27%,
    #dd6800 34.19%,
    #000000 87.11%
  );
}

.imgBox{
  position: relative;
  margin-right: 4px;
  transform: translateY(30px);
}

.btn{
  border: 2px solid #dd6800;
  padding: 2px 9px;
  border-radius: 3px;
}

