/* Cart.css */
.cart {
    background-color: black;
    height: 100vh;
}

#header {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 28px;
    position: relative;
    background-color: black;
}

#header:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #DE6901;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}

#header p {
    background-color: black; /* Same as the parents Background */
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: #DE6901;
    position: relative;
    font-family: Amita;
    font-weight: 700;
    margin: 0;
}

.cart-container {
    position: relative;
    padding: 16px;
    margin: 25px auto;
    width: 90%;
    background-color: black;
}


.cart-items {
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    flex-direction: column;
}

#itemHeading{
    margin: 0;
    padding: 0 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #DE6901;
    font-size: 30px;
    font-family: 'Berlin Sans FB';
    font-weight: 400;
    color: white;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* .item-name {
    flex: 2;
}

.item-quantity {
    flex: 1;
}

.item-price {
    flex: 1;
    text-align: right;
} */

.cart-total {
    font-weight: bold;
    margin-top: 16px;
    text-align: right;
    color: #fff;
}



.container{
    margin-top: 50px;
    max-width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}
.subContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subContainer img{
    height: 60%;
    width: 60%;
}

.subContainer h2{
    font-size: 50px;
    color: #DE6901;
    font-weight: 500;
}
.subContainer p{
    font-size: 30px;
    color: #d3823b;
}