.font{
    font-family: 'Amita';
}

.pieces{
    color: #DE6901;
    background: transparent;
    border-color: #DE6901;
    height: fit-content;
    font-family: 'Amita';
}

.quote{
    background-image: url('../../Images/image 8.png');
}

.border{
    border: 3px solid linear-gradient(180deg, #A0616A 0%, #622A20 100%);;
    /* border-image-source: linear-gradient(180deg, #A0616A 0%, #622A20 100%); */
}


.selected{
    background-color: #DE6901;
    color: black;
}
